.container {
    
    .example-card {
        max-width: 320px;
        max-height: 320px;
        margin: 15px;
    }

    .carrato1{
      background-color: #388ed1;
    }

    .carrato2{
      background-color: #d74e26;
    }

    .carrato3{
      background-color: #006837;
    }

    .carrato4{
      background-color: #fa9f1e;
    }

    .carrato5{
      background-color: #f7931e;
    }

    .color-button{
      border-color: white;
      border-style: solid;
      border-width: 1px;
    }

    .example-container {
      position: absolute;
      top: 60px;
      bottom: 60px;
      left: 0;
      right: 0;
    }
    
    .example-sidenav {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 200px;
    }
    
    .example-header {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;      
    }

    .m5{
      margin: 5px;
    }
    
    .example-footer {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
    }

    .example-form {
      min-width: 150px;
      max-width: 500px;
      width: 100%;
    }
    
    .example-full-width {
      width: 100%;
    }
    

}